/**Gestion CSS Modal **/

.modalBackground{
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color:rgba(0, 0, 0, 0.5)
}

.modal{
	display: flex;
	gap: 20px;
	flex-direction: column;
	background-color: #ffffff;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	border-radius: 10px;
	align-items: center;
	padding: 20px 50px 20px 50px;
}

.modal p{
	font-size: 26px;
	align-items: center;
}

.modalGallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
    
}

.modalGallery figure{
	height: 120px;
    position: relative;
	
}

.modalGallery img{
	max-height: 120px;
	object-fit: cover;
    display: block;
}
#ajoutPhoto, #validerProjet{
	border: none;
	padding: 5px 0 5px 0;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.modal i{
    margin-right: 5%;
    align-self: end;
    transition:  .2s ;
    font-size: 18px;
}
.modal i:hover{
    transform: scale(1.2) ;
}

.modalGallery figure i{
    position: absolute;
    font-size:9px ;
    margin: 0;
    right: 5%;
    top: 5%;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.headerModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#formAjoutProjet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#formAjoutProjet label{
    align-self: self-start;
}

#formAjoutProjet input, #formAjoutProjet select {
    width: 100%;
}

.disabled{
    background-color: grey !important;
}

#newImage{
    display: none;
}

.customFileUpload{
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    background-color: #E8F1F6;
    border-radius: 3px;
    width: 100%;
    align-items: center;
}

.customFileUpload p{
    font-size: 10px;
}
.customFileUpload i{
    align-self: center !important;
    color: #b9c5cc;
    font-size: 75px;
}

.customFileUpload i:hover{
    transform: none !important;
}

.customFileUpload button{
    font-family: 'Syne';
    font-size: 14px;
    color: #306685;
    background-color: #b9c5cc;
    border-radius: 5px;
    box-shadow: none;
}